@using FMS.Common;
@{
    ViewBag.Title = "Centers";
    //set UI visibility permissions
    var canUpdateCenters = ((Dictionary<string, bool>)(Session[Session["CurrentUserRole"] + "UIVisibilityList"]))["ActionManageCenters"];
    var canViewCenters = ((Dictionary<string, bool>)(Session[Session["CurrentUserRole"] + "UIVisibilityList"]))["ActionViewCenters"];
}

<div class="container-fluid">

    <div class="row no-gutters h-100 justify-content-center align-items-center" style="background-color: azure; margin-top: 15px; margin-bottom: 15px;  padding: 5px;padding-left: 15px;">
        <div class="col-md-12">
            <div class="formHeadingRegion">
                <h4>@ViewBag.Title</h4>
            </div>
        </div>
    </div>

    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-md-12">

            <fieldset id="fldsEmployeeContactDetailsSearch">
                <legend>Search</legend>

                @(Html.Kendo().DropDownList()
                                            .Name("drpRegion")
                                            .DataValueField("Value")
                                            .DataTextField("Text")
                                            .OptionLabel(new { Text = "Select Region...", Value = "" })
                                            .Filter(FilterType.Contains)
                                            .ValuePrimitive(true)
                                            .HtmlAttributes(new { style = "width:170px" })
                                            .BindTo((System.Collections.IEnumerable)ViewBag.Regions)
                )

                @(Html.Kendo().MaskedTextBox()
                                            .Name("txtName")
                                            .HtmlAttributes(new { @placeholder = "Center Name ...", style = "width:100%;max-width:170px" })
                )


                @(Html.Kendo().Button()
                                                .Name("btnSearch")
                                                .HtmlAttributes(new { type = "button", @class = "k-primary" })
                                                    .Content("<span class='k-icon' title='Search'></span>")
                                                .Icon("search")
                                                .Events(events =>
                                                {
                                                    events.Click("onSearchButtonClick");
                                                })
                )

                @(Html.Kendo().Button()
                                                .Name("btnReset")
                                                .Tag("em")
                                                .Icon("refresh")
                                                .Content("<span class='k-icon' title='Refresh'></span>")
                                                .HtmlAttributes(new { @title = "Reset" })
                                                .Events(events =>
                                                {
                                                    events.Click("onResetButtonClick");
                                                })
                )
            </fieldset>



            @(Html.Kendo().Grid<FMS.Web.ViewModels.CenterDisplayViewModel>()
                                            .Name("gridCenters")
                                            .Columns(columns =>
                                            {
                                                columns.Bound(vm => vm.CenterCode);
                                                columns.Bound(vm => vm.Name).Title("Name");
                                                columns.Bound(vm => vm.Manager).Title("Center Manager");
                                                columns.Bound(vm => vm.MaxVehicleFuelVoucherCapacityPerMonth);
                                                columns.Bound(vm => vm.MaxVehicleServiceCapacityPerMonth);
                                                columns.Command(command =>
                                                {
                                                    command.Custom("view").Text(" ").Click("onViewDetailsClick").IconClass("far fa-eye").HtmlAttributes(new { @title = "View" }).Visible("canViewCenters");
                                                    command.Custom("edit").Text(" ").Click("onEditDetailsClick").IconClass("fas fa-edit").HtmlAttributes(new { @title = "Edit" }).Visible("canUpdateCenters");
                                                    command.Custom("delete").Text(" ").Click("onDeleteDetailsClick").IconClass("fas fa-trash-alt").HtmlAttributes(new { @title = "Delete" }).Visible("canUpdateCenters");
                                                }).Title("").Width(210);
                                            })
                                            .ToolBar(toolBar =>
                                            {
                                                toolBar.Template(@<text>

                                                    @if (canUpdateCenters)
                                                        {
                                                        <a class='k-button' style="float:left" href="#" onclick="onAddNewDetailsClick(event)">
                                                            <span class='k-icon k-i-add'></span>Add New Center
                                                        </a>
                                                        }
                                                   
                                                </text>);
                                            })
                                            .Pageable()
                                            .Sortable()
                                            .Scrollable(s => s.Height("auto"))
                                            .DataSource(dataSource => dataSource
                                                .Ajax()
                                                .PageSize(20)
                                                .Events(events => events
                                                    .Error("onError")
                                                )
                                                .Model(model =>
                                                {
                                                    model.Id(vm => vm.CenterNumber);
                                                })
                                                .Read(read => read.Action("GetCenterList", "OrganisationManagement").Data("gridFilterParams"))
                                            )

            )

            <div id="wndDeleteConfirmation"></div>
        </div>
    </div>
</div>

<style>
</style>
@section scripts{
    <script type="text/x-kendo-template" id="templateDeleteConfirmation">
        <div class="modalWindow">
            <h2>Are you sure you want to delete this record?</h2>
            <button id="yes" class="k-button">Yes</button>
            <button id="no" class="k-button k-primary">No</button>
        </div>
    </script>

    <script type="text/javascript">

    var gridData;
    var windowDeleteConfirmation;

    $(document).ready(function () {
        //tooltips
        $("#gridCenters").kendoTooltip({ filter: "a[title]" });

        gridData = $("#gridCenters").data("kendoGrid");

        templateDeleteConfirmation = kendo.template($("#templateDeleteConfirmation").html());

        setGridFormSubmitNotification();

        //initialize the kendo delete confirmation modal window
        windowDeleteConfirmation = $("#wndDeleteConfirmation").kendoWindow({
            title: "Delete Confirmation",
            modal: true,
            visible: false,
            resizable: false,
            width: 300
        }).data("kendoWindow");


    });
    function onError(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            e.sender.read(); //refresh the datasource
            App.notification.show({
                message: message.length > 100 ? message.substring(0, 100) + "..." : message
            }, "error");
        }
    }

    function gridFilterParams() {
        return {
            name: $("#txtName").val(),
            region: (Number($("#drpRegion").val()) == 0) ? -1 : Number($("#drpRegion").val())
        }
    }
    function onSearchButtonClick(e) {
        e.preventDefault();
        gridData.dataSource.query({ page: 1, pageSize: 20 });
    }
    function onResetButtonClick(e) {
        e.preventDefault();
        $("#txtName").val("");
        $("#drpRegion").data("kendoDropDownList").value("");
        gridData.dataSource.read();
    }


   function onViewDetailsClick(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var id = dataItem.CenterNumber;
        window.location.href = '@Url.Action("GetCenter", "OrganisationManagement")?id=' + id;
    }

    function onEditDetailsClick(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var id = dataItem.CenterNumber;
        window.location.href = '@Url.Action("EditCenter", "OrganisationManagement")?id=' + id;
    }

    function onAddNewDetailsClick(e) {
        e.preventDefault();
        window.location.href = '@Url.Action("CreateCenter", "OrganisationManagement")';
    }

    function onDeleteDetailsClick(e) {
        e.preventDefault();
        var grid = this;
        var row = $(e.currentTarget).closest("tr");
        var dataItem = this.dataItem(row);
        windowDeleteConfirmation.content(templateDeleteConfirmation(dataItem));
        windowDeleteConfirmation.center().open();
        $("#yes").click(function () {


            $.when(ajaxReturnDelete(dataItem.CenterNumber, "OrganisationManagement", "DeleteCenter")).done(function (a1) {
                grid.removeRow(row); //removes row only
                gridData.dataSource.read();
            });

            windowDeleteConfirmation.close();
        });

        $("#no").click(function () {
            windowDeleteConfirmation.close();
        });
    }

    function canUpdateCenters() {

        var r = '@canUpdateCenters';

        if (r === "True") {
            return true;
        }
        else {
            return false;
        }
    }

    function canViewCenters() {

        var r = '@canViewCenters';

        if (r === "True") {
            return true;
        }
        else {
            return false;
        }
    }


    </script>
    }