@using FMS.Web.CustomHTMLHelpers
@model FMS.Web.ViewModels.ForgotPasswordViewModel


@{
    ViewBag.Title = "Forgot your password?";
    Layout = "~/Views/Shared/_LayoutPublic.cshtml";
}

@using (Html.BeginForm("ForgotPassword", "Security", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        <div class="col-md-2">@Html.LabelForRequired(m=>m.Email)</div> 
        <div class="col-md-10">
            @(Html.Kendo().TextBoxFor(m => m.Email)
                        .HtmlAttributes(new { @style = "width:100%;max-width:300px;" })
            )
            <br /><span class="k-invalid-msg" data-for="Email"></span>
        </div>
    </div>
    <div class="formButtonRegion">
        @(Html.Kendo().Button()
            .Name("btnSubmit")
            .Icon("email")
            .Content("Submit")
            .HtmlAttributes(new { type = "submit", @class = "k-button k-primary" })
        )
        @(Html.Kendo().Button()
            .Name("btnCancel")
            .Content("Cancel")
            .HtmlAttributes(new { type = "button", @class = "k-button" })
            .Icon("cancel")
        )
    </div>
}

<script type="text/javascript">

   

    $(document).ready(function () {


        var validator = $("form").kendoValidator().data("kendoValidator");

        $("form").submit(function (e) {
            validator.validate();
            kendo.ui.progress($("#progressIndicator"), true);
        });

        $("#btnCancel").click(function (e) {
            window.location.href = document.referrer;
        });



    });

</script>

