@using FMS.Web.CustomHTMLHelpers
@model FMS.Web.ViewModels.ResetPasswordViewModel

@{
    ViewBag.Title = "Reset Password";
}

@using (Html.BeginForm("frmPasswordReset"))
{

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.AntiForgeryToken()

    <div class="container-fluid" id="FormContainer">
        <div class="row no-gutters h-100 justify-content-center align-items-center">
            <div class="col-sm-12">
                <div class="formHeadingRegion">
                    <h4>@ViewBag.Title</h4>
                </div>
            </div>
        </div>
        <div class="row no-gutters h-100 justify-content-center align-items-center">
            <div class="col-sm-12">
                <div class="table-responsive">
                    <table class="table no-border">
                        <tr>
                            <th>@Html.LabelFor(model => model.Email)</th>
                            <td>
                                @Html.DisplayFor(model => model.Email, new { htmlAttributes = new { style = "width:250px" } })
                                @Html.HiddenFor(model => model.Email)
                            </td>
                        </tr>
                        <tr>
                            <th>@Html.LabelFor(model => model.Role)</th>
                            <td>
                                @Html.DisplayFor(model => model.Role)
                                @Html.HiddenFor(model => model.Role)
                            </td>
                        </tr>
                        <tr>
                            <th>@Html.LabelForRequired(model => model.Password, "New Password")</th>
                            <td>
                                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "k-textbox", style = "width:250px", @autocomplete = "new-password" } })
                                <input type="password" style="display:none">
                                <br />@Html.ValidationMessageFor(model => model.Password)
                            </td>
                        </tr>
                        <tr>
                            <th>@Html.LabelForRequired(model => model.ConfirmPassword, "Confirm New Password")</th>
                            <td>
                                @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "k-textbox", style = "width:250px", @autocomplete = "new-password" } })
                                <input type="password" style="display:none">
                                <br />@Html.ValidationMessageFor(model => model.ConfirmPassword)
                            </td>
                        </tr>

                    </table>
                </div>
            </div>
        </div>
        <div class="row no-gutters h-100 justify-content-center align-items-center">
            <div class="col-sm-12">
                <div>
                    @(Html.Kendo().Button()
                                                                .Name("btnBottomSave")
                                                                .Icon("save")
                                                                .Content("Save")
                                                                .HtmlAttributes(new { type = "submit", @class = "k-button k-primary" })
                    )
                    @(Html.Kendo().Button()
                                                                .Name("btnBottomCancel")
                                                                .Content("Back")
                                                                .HtmlAttributes(new { type = "button", @class = "k-button" })
                                                                .Icon("undo")
                    )
                </div>
            </div>
        </div>
    </div>

}
@section scripts{
    <script>

        $(document).ready(function () {
            $("#btnBottomCancel").click(function (event) {
                var newSrc = "NA";
                window.location.href = document.referrer.replace(/(message=).*?(&)/, '$1' + newSrc + '$2');
            });
        });

        //********************* Form Related ***********************
        $("#frmPasswordReset").submit(function (event) {
            event.preventDefault();
            ajaxCreateUpdate(this, "0", "Security", "MyResetPassword", "", "", "");
        });
            //***********************************************************
    </script>
    }