@using FMS.Web.CustomHTMLHelpers
@model FMS.Web.ViewModels.PublicResetPasswordViewModel


@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/_LayoutPublic.cshtml";
}

@using (Html.BeginForm("ResetPassword", "Security", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    
        <div class="table-responsive">
            <table class="table no-border">
                <tr>
                    <th>&nbsp;</th>
                    <td>
                        @Html.HiddenFor(model => model.Code)
                        @Html.HiddenFor(model => model.UserId)

                    </td>
                </tr>
                <tr>
                    <th>@Html.LabelForRequired(model => model.Password, "New Password")</th>
                    <td>
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "k-textbox", style = "width:250px", @autocomplete = "new-password" } })
                        <input type="password" style="display:none">
                        <br />@Html.ValidationMessageFor(model => model.Password)
                    </td>
                </tr>
                <tr>
                    <th>@Html.LabelForRequired(model => model.ConfirmPassword, "Confirm New Password")</th>
                    <td>
                        @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "k-textbox", style = "width:250px", @autocomplete = "new-password" } })
                        <input type="password" style="display:none">
                        <br />@Html.ValidationMessageFor(model => model.ConfirmPassword)
                    </td>
                </tr>
            </table>      
        </div>

    <div>
        @(Html.Kendo().Button()
            .Name("btnSubmit")
            .Icon("save")
            .Content("Submit")
            .HtmlAttributes(new { type = "submit", @class = "k-button k-primary" })
        )

    </div>
}

<script type="text/javascript">
    $(document).ready(function () {

        var validator = $("form").kendoValidator().data("kendoValidator");

        $("form").submit(function (e) {
            validator.validate();
            kendo.ui.progress($("#progressIndicator"), true);
        });
    });
</script>
