@using FMS.Web.CustomHTMLHelpers
@model FMS.Web.ViewModels.VehicleRefuelEditViewModel

@{
    ViewBag.Title = "Update Vehicle Refuel Details";
}

<div class="container-fluid" style="margin-top:15px">
    <div class="row no-gutters h-100 justify-content-center align-items-center" style="background-color: azure; margin-top: 15px; margin-bottom: 15px;  padding: 5px;padding-left: 15px;">
        <div class="col-md-12">
            <div class="formHeadingRegion">
                <h4>@ViewBag.Title</h4>
            </div>
        </div>
    </div>
    <div class="row no-gutters h-100 justify-content-center align-items-center">
        <div class="col-md-12">
            @using (Html.BeginForm("frmVehicleRefuelForm"))
            {
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.AntiForgeryToken()
            <div class="container-fluid" id="FormContainer" style="margin-bottom:15px;">
                <div class="row no-gutters h-100 justify-content-center align-items-center">
                    <div class="col-md-3">
                        <div class="table-responsive">
                            <table class="table no-border">
                                <tr>
                                    <th>@Html.LabelFor(m => m.VoucherNumber)</th>
                                    <td>
                                        @Html.HiddenFor(m => m.VoucherNumber)
                                        @Html.HiddenFor(m => m.IsVoucherAcquitted)
                                        @Html.HiddenFor(m => m.VoucherReceiptNumber)
                                        @Html.HiddenFor(m => m.CenterId)
                                        @Html.HiddenFor(model => model.CreatedBy)
                                        @Html.HiddenFor(model => model.CreatedDate)
                                        @Html.DisplayFor(m => m.VoucherNumber)

                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="table-responsive">
                            <table class="table no-border">
                                <tr>
                                    <th> @Html.Label("Center")</th>
                                    <td>
                                        @Html.HiddenFor(m => m.Id)
                                        @(Html.Kendo().DropDownList()
                                                                            .Name("CenterDisabled")
                                                                            .DataValueField("Value")
                                                                            .DataTextField("Text")
                                                                            .ValuePrimitive(true)
                                                                            .HtmlAttributes(new { style = "width:170px" })
                                                                            .BindTo((System.Collections.IEnumerable)ViewBag.Centers)
                                        )
                                    </td>
                                </tr>


                            </table>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="table-responsive">
                            <table class="table no-border">
                                <tr>
                                    <th>@Html.LabelForRequired(m => m.Date)</th>
                                    <td>
                                        @(Html.Kendo().DatePickerFor(m => m.Date)
                                                                                            .Name("Date")
                                                                                            .HtmlAttributes(new { style = "width:170px" })
                                        )
                                        <br /><span class="k-invalid-msg" data-for="Date"></span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="table-responsive">
                            <table class="table no-border">
                                <tr>
                                    <th>&nbsp;</th>
                                    <td>
                                        <div style="display:inline-block;font-family: 'Roboto'">
                                            @(Html.Kendo().CheckBoxFor(m => m.IsBowserFuel)
                                                                                                 .Name("IsBowserFuel")
                                            )
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row no-gutters h-100 justify-content-center align-items-center">
                    <div class="col-md-12" style="margin-bottom: -10px;margin-top: -30px;">
                        <hr />
                    </div>
                </div>
                <div class="row no-gutters h-100 justify-content-center align-items-center">
                    <div class="col-md-4">
                        <div class="table-responsive">
                            <table class="table no-border">
                                <tr>
                                    <th>@Html.LabelForRequired(m => m.FuelDistributorId)</th>
                                    <td>
                                        @(Html.Kendo().DropDownListFor(m => m.FuelDistributorId)
                                                                                                                                .Name("FuelDistributorId")
                                                                                                                                .DataValueField("Value")
                                                                                                                                .DataTextField("Text")
                                                                                                                                .OptionLabel(new { Text = "Select ...", Value = "" })
                                                                                                                                .Filter(FilterType.Contains)
                                                                                                                                .ValuePrimitive(true)
                                                                                                                                .HtmlAttributes(new { style = "width:170px" })
                                                                                                                                .BindTo((System.Collections.IEnumerable)ViewBag.FuelDistributors)
                                        )
                                    </td>
                                </tr>

                                <tr>
                                    <th>@Html.LabelFor(m => m.VehicleId)</th>
                                    <td>
                                        @(Html.Kendo().DropDownListFor(m => m.VehicleId)
                                                                                                                            .DataValueField("Value")
                                                                                                                            .DataTextField("Text")
                                                                                                                            .OptionLabel(new { Text = "Select ...", Value = "" })
                                                                                                                            .Filter(FilterType.Contains)
                                                                                                                            .HtmlAttributes(new { style = "width:170px" })
                                                                                                                            .BindTo((System.Collections.IEnumerable)ViewBag.Vehicles)
                                        )
                                    </td>
                                </tr>
                                <tr>
                                    <th>@Html.LabelFor(m => m.Liters)</th>
                                    <td>
                                        @Html.EditorFor(m => m.Liters)
                                    </td>
                                </tr>

                                <tr>
                                    <th>@Html.LabelFor(m => m.FuelTypeId)</th>
                                    <td>
                                        @(Html.Kendo().DropDownListFor(m => m.FuelTypeId)
                                                                                                            .DataValueField("Value")
                                                                                                            .DataTextField("Text")
                                                                                                            .OptionLabel(new { Text = "Select ...", Value = "" })
                                                                                                            .Filter(FilterType.Contains)
                                                                                                            .HtmlAttributes(new { style = "width:170px" })
                                                                                                            .BindTo((System.Collections.IEnumerable)ViewBag.FuelTypes)
                                        )
                                    </td>
                                </tr>

                                <tr>
                                    <th> @Html.LabelFor(model => model.LastUpdatedBy, htmlAttributes: new { @class = "vwLabel" })</th>
                                    <td>
                                        <span>@Html.DisplayFor(model => model.LastUpdatedBy)</span>
                                    </td>
                                </tr>


                            </table>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="table-responsive">
                            <table class="table no-border">
                                <tr>
                                    <th>@Html.LabelForRequired(m => m.BowserNumber)</th>
                                    <td>
                                        @(Html.Kendo().DropDownListFor(m => m.BowserNumber)
                                                                                                                                    .Name("BowserNumber")
                                                                                                                                    .DataValueField("Value")
                                                                                                                                    .DataTextField("Text")
                                                                                                                                    .OptionLabel(new { Text = "Select ...", Value = "" })
                                                                                                                                    .Filter(FilterType.Contains)
                                                                                                                                    .ValuePrimitive(true)
                                                                                                                                    .HtmlAttributes(new { style = "width:170px" })
                                                                                                                                    .BindTo((System.Collections.IEnumerable)ViewBag.FuelTanks)
                                        )
                                    </td>
                                </tr>
                                <tr>
                                    <th>@Html.LabelFor(m => m.OperatorId)</th>
                                    <td>
                                        @(Html.Kendo().DropDownListFor(m => m.OperatorId)
                                                                                                                                    .DataValueField("Value")
                                                                                                                                    .DataTextField("Text")
                                                                                                                                    .OptionLabel(new { Text = "Select ...", Value = "" })
                                                                                                                                    .Filter(FilterType.Contains)
                                                                                                                                    .HtmlAttributes(new { style = "width:170px" })
                                                                                                                                    .BindTo((System.Collections.IEnumerable)ViewBag.Drivers)
                                        )
                                    </td>
                                </tr>

                                <tr>
                                    <th>@Html.LabelForRequired(m => m.UnitCost)</th>
                                    <td>
                                        @Html.EditorFor(m => m.UnitCost)
                                        <br /><span class="k-invalid-msg" data-for="UnitCost"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <th> @Html.LabelFor(model => model.CreatedByDisplay, htmlAttributes: new { @class = "vwLabel" })</th>
                                    <td>
                                        <span>@Html.DisplayFor(model => model.CreatedByDisplay)</span>
                                    </td>
                                </tr>
                                <tr>
                                    <th> @Html.LabelFor(model => model.LastUpdatedDate, htmlAttributes: new { @class = "vwLabel" })</th>
                                    <td>
                                        <span>@Html.DisplayFor(model => model.LastUpdatedDate)</span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="table-responsive">
                            <table class="table no-border">
                                <tr>
                                    <th>@Html.LabelForRequired(m => m.FuelUsageCategoryId)</th>
                                    <td>
                                        @(Html.Kendo().DropDownListFor(m => m.FuelUsageCategoryId)
                                                                                                            .DataValueField("Value")
                                                                                                            .DataTextField("Text")
                                                                                                            .OptionLabel(new { Text = "Select ...", Value = "" })
                                                                                                            .Filter(FilterType.Contains)
                                                                                                            .HtmlAttributes(new { style = "width:170px" })
                                                                                                            .BindTo((System.Collections.IEnumerable)ViewBag.FuelUsageCategories)
                                        )
                                        <br /><span class="k-invalid-msg" data-for="FuelUsageCategoryId"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <th>@Html.LabelFor(m => m.Mileage)</th>
                                    <td>
                                        @Html.EditorFor(m => m.Mileage)
                                    </td>
                                </tr>
                                <tr>
                                    <th>@Html.LabelFor(m => m.TotalCost)</th>
                                    <td>
                                        @Html.EditorFor(m => m.TotalCost)
                                    </td>
                                </tr>
                                <tr>
                                    <th> @Html.LabelFor(model => model.CreatedDateDisplay, htmlAttributes: new { @class = "vwLabel" })</th>
                                    <td>
                                        <span>@Html.DisplayFor(model => model.CreatedDateDisplay)</span>
                                    </td>
                                </tr>

                            </table>
                        </div>
                    </div>
                </div>


                <div class="row no-gutters h-100 justify-content-center align-items-center">
                    <div class="col-md-12" style="margin-bottom: -10px;margin-top: -30px;">
                        <hr />
                    </div>
                </div>
                <div class="row no-gutters h-100 justify-content-center align-items-center" style="float: right;margin-right: 50px;">
                    <div class="col-md-12">
                        <div>
                            @(Html.Kendo().Button()
                                                                                .Name("btnBottomSave")
                                                                                .Icon("save")
                                                                                .Content("Save")
                                                                                .HtmlAttributes(new { type = "submit", @class = "k-button k-primary" })
                            )
                            @(Html.Kendo().Button()
                                                                                .Name("btnBottomCancel")
                                                                                .Content("back")
                                                                                .HtmlAttributes(new { type = "button", @class = "k-button" })
                                                                                .Icon("undo")
                            )
                        </div>
                    </div>
                </div>
            </div>
            }
        </div>

    </div>
</div>
@section scripts{

    <script>


        $(document).ready(function () {

            $("#btnBottomCancel").click(function (event) {
                window.location.href = "/VehicleFuelManagement/VehicleRefuels?message=NA&isError=false";
            });

            $("#IsBowserFuel").change(function () {

                if (this.checked) {
                    $("#BowserNumber").data().kendoDropDownList.enable(true);
                    $("#FuelDistributorId").data().kendoDropDownList.enable(false);
                }
                else {
                    $("#BowserNumber").data().kendoDropDownList.enable(false);
                    $("#FuelDistributorId").data().kendoDropDownList.enable(true);
                }
            });

            if ($("#IsBowserFuel").prop("checked")) {
                $("#BowserNumber").data().kendoDropDownList.enable(true);
                $("#FuelDistributorId").data().kendoDropDownList.enable(false);
            }
            else {
                $("#BowserNumber").data().kendoDropDownList.enable(false);
                $("#FuelDistributorId").data().kendoDropDownList.enable(true);
            }

            txtLitres = $("#Liters").data("kendoNumericTextBox");
            txtUnitCost = $("#UnitCost").data("kendoNumericTextBox");
            txtTotalCost = $("#TotalCost").data("kendoNumericTextBox");
            drpCenter = $("#CenterDisabled").data("kendoDropDownList");

            drpCenter.enable(false);
            txtTotalCost.readonly();

            txtLitres.element.on("keyup", function (e) {
                calculateTotalCost(e.target.value, txtUnitCost.value());
            });

            txtUnitCost.element.on("keyup", function (e) {
                calculateTotalCost(txtLitres.value(), e.target.value);
            });

            txtLitres.bind("spin", function (e) {
                calculateTotalCost(this.value(), txtUnitCost.value());
            });

            txtUnitCost.bind("spin", function (e) {
                calculateTotalCost(txtLitres.value(), this.value());
            });

        });

        function calculateTotalCost(litres, unitCost) {
            if ((litres && unitCost) && (litres > 0 && unitCost > 0)) {
                $("#TotalCost").data("kendoNumericTextBox").value(Math.round(litres * unitCost));
            }
            else {
                $("#TotalCost").data("kendoNumericTextBox").value(0);
            }
        }


        $("form").submit(function (event) {

            event.preventDefault();
            ajaxCreateUpdate(this, $("#Id").val(), "VehicleFuelManagement", "", "UpdateVehicleRefuelDetails", "VehicleRefuels", "");


        });


    </script>
    }