@using FMS.Web.CustomHTMLHelpers
@using FMS.Common
@model FMS.Web.ViewModels.IncidentDisplayViewModel

@{
    ViewBag.Title = "Vehicle Incident Details";


    FileInfo incidentRptFileInfo = null;

    if (!string.IsNullOrEmpty(Model.IncidentFileName))
    {
        var fileNameIncidentRpt = Server.MapPath(Parameters.AppConstant.INCRPT_PATH + "/" + Model.IncidentFileName);

        if (System.IO.File.Exists(fileNameIncidentRpt))
        {
            incidentRptFileInfo = new System.IO.FileInfo(fileNameIncidentRpt);
        }
    }


}

<div class="container-fluid" style="margin-top:15px">
    <div class="row no-gutters h-100 justify-content-center align-items-center" style="background-color: azure; margin-top: 15px; margin-bottom: 15px;  padding: 5px;padding-left: 15px;">
        <div class="col-md-12">
            <div class="formHeadingRegion">
                <h4>@ViewBag.Title</h4>
            </div>
        </div>
    </div>
    <div class="row no-gutters h-100 justify-content-center align-items-center">
        <div class="col-md-10">

            <div class="container-fluid" id="FormContainer" style="margin-bottom:15px;">
                <div class="row no-gutters h-100 justify-content-center align-items-center">
                    <div class="col-md-6">
                        <div class="table-responsive">
                            <table class="table no-border">
                                <tr>
                                    <th> @Html.LabelFor(m => m.IncidentFileNumber)</th>
                                    <td>
                                        @Html.HiddenFor(m => m.Id)
                                        @Html.DisplayFor(m => m.IncidentFileNumber)

                                    </td>
                                </tr>
                                <tr>
                                    <th>@Html.LabelFor(m => m.IncidentStatus)</th>
                                    <td>
                                        @Html.DisplayFor(m => m.IncidentStatus)
                                    </td>
                                </tr>
                                <tr>
                                    <th>@Html.LabelForRequired(m => m.IncidentType)</th>
                                    <td>
                                        @Html.DisplayFor(m => m.IncidentType)
                                    </td>
                                </tr>
                                <tr>
                                    <th>@Html.LabelFor(m => m.IncidentDate)</th>
                                    <td>
                                        @Html.DisplayFor(m => m.IncidentDate)
                                    </td>
                                </tr>
                                <tr>
                                    <!--Vehicle dropdown list -->
                                    <th> @Html.LabelFor(m => m.RegistrationNumber)</th>
                                    <td>
                                        @Html.DisplayFor(m => m.RegistrationNumber)
                                    </td>
                                </tr>
                                <tr>
                                    <!--Driver dropdown list -->
                                    <th> @Html.LabelFor(m => m.Driver)</th>
                                    <td>
                                        @Html.DisplayFor(m => m.Driver)
                                    </td>
                                </tr>
                                <tr>
                                    <th>@Html.LabelFor(m => m.Location)</th>
                                    <td>
                                        @Html.DisplayFor(m => m.Location)
                                    </td>
                                </tr>

                                <tr>
                                    <th>@Html.LabelFor(m => m.Description)</th>
                                    <td colspan="2">
                                        @Html.DisplayFor(model => model.Description)
                                    </td>
                                </tr>

                            </table>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="table-responsive">
                            <table class="table no-border">

                                <tr>
                                    <th>@Html.LabelFor(m => m.IncidentRequiresService)</th>
                                    <td>
                                        @Html.DisplayFor(model => model.IncidentRequiresService)
                                    </td>
                                </tr>
                                <tr>
                                    <th>@Html.LabelFor(m => m.HasServiceBeenDone)</th>
                                    <td>
                                        @Html.DisplayFor(model => model.HasServiceBeenDone)
                                    </td>
                                </tr>
                                <tr>
                                    <th>@Html.LabelFor(m => m.HasReport)</th>
                                    <td>
                                        @Html.DisplayFor(model => model.HasReport)
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <fieldset id="fldsAccidentReportDetails">
                                            <legend style="font-size:14px !important">Accident Report Details</legend>
                                            <div class="table-responsive">
                                                <table class="table no-border">
                                                    <tr>
                                                        <th>@Html.LabelFor(model => model.IncidentFileName)</th>
                                                        <td>

                                                            @if (incidentRptFileInfo != null)
                                                            {
                                                                @(Html.Kendo().Button()
                                                                                                    .Name("btnDownloadReport")
                                                                                                    .Content("Download Report")
                                                                                                    .HtmlAttributes(new { type = "button", style = "margin-top:5px;" })
                                                                                                    .Events(ev => ev.Click("onDownloadClick"))
                                                                )
                                                            }


                                                        </td>


                                                    </tr>

                                                    <tr>
                                                        <th>@Html.LabelFor(m => m.DateofAccident)</th>
                                                        <td>
                                                            @Html.DisplayFor(m => m.DateofAccident)
                                                        </td>
                                                    </tr>

                                                </table>
                                            </div>
                                        </fieldset>
                                    </td>
                                </tr>
                                <tr>
                                    <th> @Html.LabelFor(model => model.CreatedBy, htmlAttributes: new { @class = "vwLabel" })</th>
                                    <td>
                                        <span>@Html.DisplayFor(model => model.CreatedBy)</span>
                                    </td>
                                </tr>

                                <tr>
                                    <th> @Html.LabelFor(model => model.CreatedDate, htmlAttributes: new { @class = "vwLabel" })</th>
                                    <td>
                                        <span>@Html.DisplayFor(model => model.CreatedDate)</span>
                                    </td>
                                </tr>

                                <tr>
                                    <th> @Html.LabelFor(model => model.LastUpdatedBy, htmlAttributes: new { @class = "vwLabel" })</th>
                                    <td>
                                        <span>@Html.DisplayFor(model => model.LastUpdatedBy)</span>
                                    </td>
                                </tr>

                                <tr>
                                    <th> @Html.LabelFor(model => model.LastUpdatedDate, htmlAttributes: new { @class = "vwLabel" })</th>
                                    <td>
                                        <span>@Html.DisplayFor(model => model.LastUpdatedDate)</span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row no-gutters h-100 justify-content-center align-items-center">
                    <div class="col-md-12" style="margin-bottom: -10px;margin-top: -30px;">
                        <hr />
                    </div>
                </div>
                <div class="row no-gutters h-100 justify-content-center align-items-center" style="float: right;margin-right: 50px;">
                    <div class="col-md-12">
                        <div>

                            @(Html.Kendo().Button()
                                        .Name("btnBottomCancel")
                                        .Content("Back")
                                        .HtmlAttributes(new { type = "button", @class = "k-button" })
                                        .Icon("undo")
                            )
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <!--Vehicle Info-->
            @Html.DisplayFor(m => m.VehicleDisplayInfoViewModel, "VehicleInfoDisplay")
        </div>
    </div>
</div>
@section scripts{
    <script>




    $(document).ready(function () {
        $("#btnBottomCancel").click(function (event) {
            var newSrc = "NA";
            window.location.href = document.referrer.replace(/(message=).*?(&)/, '$1' + newSrc + '$2');
        });



    });



    function onDownloadClick(e) {
        e.preventDefault();
        @if (incidentRptFileInfo != null) {
            <text>
                window.location.href = '@Url.Action("DownloadFile", "VehicleIncidentManagement")?fileName=@incidentRptFileInfo.Name';
            </text>
        }
    }



    function onUpload(e) {
        $("#IncidentFileName").val(e.files[0].name);
        e.data = { fileType: "VehicleIncidentReport" };
    }

    function onRemove(e) {
        $("#IncidentFileName").val("");
        $("#btnDownloadReport").hide();
    }

    $("#VehicleId").change(function (e) {
        populateVehicleInfoBox(e.target.value);
    });

    $("#frmVehicleIncidentDetails").submit(function (event) {
        event.preventDefault();
        ajaxCreateUpdate(this, $("#Id").val(), "VehicleIncidentManagement", "CreateVehicleIncidentDetails", "UpdateVehicleIncidentDetails", "VehicleIncidents", "");
    });

    function toggleDisableAccidentReportFieldSet(isDisable) {
        if (isDisable) {
            $("#btnDownloadReport").prop("disabled", true);
            $("#files").data("kendoUpload").disable();
            $("#DateofAccident").data("kendoDatePicker").enable(false);
        }
        else {
            $("#btnDownloadReport").prop("disabled", false);
            $("#files").data("kendoUpload").enable();
            $("#DateofAccident").data("kendoDatePicker").enable(true);
        }
    }

    function checkToggleDisableAccidentReportFieldSet() {
        if ($("#HasReport").prop('checked')) {
            toggleDisableAccidentReportFieldSet(false);
        }
        else {
            toggleDisableAccidentReportFieldSet(true);
        }
    }



    </script>
    }