@model FMS.Web.ViewModels.OperatorDisplayInfoViewModel

<div class="panel panel-info">
    <div class="panel-heading">Allocated Operator Information</div>
    <div class="panel-body" id="driverInfo">
        <strong>Driver Name</strong>
        <p id="oDriverName">@Model.DriverName</p>

        <strong>Date of Birth</strong>
        <p id="oDateOfBirth">@Model.DriverDateOfBirth</p>

        <strong>Staff Number</strong>
        <p id="oStaffNumber">@Model.StaffNumber</p>

        <strong>License Number</strong>
        <p id="oLicenseNumber">@Model.DriverLicenceNumber</p>

        <strong>Email</strong>
        <p id="oEmail">@Model.DriverEmail</p>

        <strong>Mobile</strong>
        <p id="oMobile">@Model.DriverMobile</p>
    </div>
</div>