@model FMS.Web.ViewModels.VehicleDisplayInfoViewModel

<div class="panel panel-info">
    <div class="panel-heading">Vehicle Information</div>
    <div class="panel-body">
        <strong>Registration Number</strong>
        <p id="vRegistrationNumber">@Model.VehicleRegistrationNumber</p>

        <strong>Model</strong>
        <p id="vModel">@Model.VehicleModel</p>

        <strong>Make</strong>
        <p id="vMake">@Model.VehicleMake</p>

        <strong>Type</strong>
        <p id="vType">@Model.VehicleType</p>

        <strong>Color</strong>
        <p id="vColor">@Model.VehicleColor</p>

        <strong>Current Mileage</strong>
        <p id="vCurrentMileage">@Model.CurrentMileage</p>

        <strong>Condition</strong>
        <p id="vCondition">@Model.VehicleCondition</p>

        <strong>Status</strong>
        <p id="vStatus">@Model.VehicleStatus</p>

        <strong>Business Group</strong>
        <p id="vBusinessGroup">@Model.BusinessGroup</p>

        <strong>Center</strong>
        <p id="vCenter">@Model.Center</p>

    </div>
</div>