@using FMS.Web.ViewModels;


@{
    ViewBag.Title = "Notification Management";
    //set UI visibility permissions   
    var canManageNotifications = ((Dictionary<string, bool>)(Session[Session["CurrentUserRole"] + "UIVisibilityList"]))["ActionManageNotifications"];

}


<div class="container-fluid">

    <div class="row no-gutters h-100 justify-content-center align-items-center" style="background-color: azure; margin-top: 15px; margin-bottom: 15px;  padding: 5px;padding-left: 15px;">
        <div class="col-md-12">
            <div class="formHeadingRegion">
                <h4>@ViewBag.Title</h4>
            </div>
        </div>
    </div>

    <div class="row h-100 justify-content-center align-items-center">


        <fieldset id="fldsDepotDailyMeasurementSearch">
            <legend>Search</legend>

            <!--Notification Type Dropdownlist-->
            @(Html.Kendo().DropDownList()
                            .Name("drpNotificationType")
                            .OptionLabel(new { Text = "Select Notification Type...", Value = "" })
                            .DataValueField("Value")
                            .DataTextField("Text")
                            .Filter(FilterType.Contains)
                            .ValuePrimitive(true)
                            .HtmlAttributes(new { style = "width:190px" })
                            .BindTo((System.Collections.IEnumerable)ViewBag.NotificationTypes)
            )

            <!--When Appear Dropdownlist-->
            @(Html.Kendo().DropDownList()
                            .Name("drpWhenAppear")
                            .OptionLabel(new { Text = "Select When Appear...", Value = "" })
                            .DataValueField("Value")
                            .DataTextField("Text")
                            .Filter(FilterType.Contains)
                            .ValuePrimitive(true)
                            .HtmlAttributes(new { style = "width:190px" })
                            .BindTo((System.Collections.IEnumerable)ViewBag.WhenAppearTimes)
            )

            <!--Severity Dropdownlist-->
            @(Html.Kendo().DropDownList()
                            .Name("drpSeverity")
                            .OptionLabel(new { Text = "Select Severity...", Value = "" })
                            .DataValueField("Value")
                            .DataTextField("Text")
                            .Filter(FilterType.Contains)
                            .ValuePrimitive(true)
                            .HtmlAttributes(new { style = "width:190px" })
                            .BindTo((System.Collections.IEnumerable)ViewBag.Severities)
            )

            <!--EmailTemplates Dropdownlist-->
            @(Html.Kendo().DropDownList()
                            .Name("drpEmailTemplate")
                            .OptionLabel(new { Text = "Select Email Template...", Value = "" })
                            .DataValueField("Value")
                            .DataTextField("Text")
                            .Filter(FilterType.Contains)
                            .ValuePrimitive(true)
                            .HtmlAttributes(new { style = "width:190px" })
                            .BindTo((System.Collections.IEnumerable)ViewBag.EmailTemplates)
            )

            @(Html.Kendo().Button()
                                                    .Name("btnSearch")
                                                    .HtmlAttributes(new { type = "button", @class = "k-primary" })
                                                     .Content("<span class='k-icon' title='Search'></span>")
                                                    .Icon("search")
                                                    .Events(events =>
                                                    {
                                                        events.Click("onSearchClick");
                                                    })
            )

            @(Html.Kendo().Button()
                                                    .Name("btnReset")
                                                    .Tag("em")
                                                    .Icon("refresh")
                                                    .Content("<span class='k-icon' title='Refresh'></span>")
                                                    .HtmlAttributes(new { @title = "Reset" })
                                                    .Events(events =>
                                                    {
                                                        events.Click("onResetClick");
                                                    })
            )

        </fieldset>

        <div class="col-md-12">
            @(Html.Kendo().Grid<NotificationEditViewModel>()
                                                            .Name("gridNotification")
                                                            .Columns(columns =>
                                                            {
                                                                columns.Bound(vm => vm.NotificationTypeId).ClientTemplate("#:NotificationTypeDisplay#").Width(100);
                                                                columns.Bound(vm => vm.WhenAppearId).ClientTemplate("#:WhenAppearBeforeDisplay#").Width(100);
                                                                columns.Bound(vm => vm.EmailTemplateId).ClientTemplate("#:EmailTemplateDisplay#").Width(100);
                                                                columns.Bound(vm => vm.SeverityId).ClientTemplate("#:SeverityDisplay#").Media("(min-width: 544px)").Width(130);
                                                                columns.Command(command =>
                                                                {
                                                                    command.Edit().Text(" ").UpdateText(" ").CancelText(" ").Visible("canManageNotifications");
                                                                    command.Custom("deleteNotificationRecord").Text(" ").Click("onDeleteDetailsClick").IconClass("fas fa-trash-alt").HtmlAttributes(new { @title = "Delete", @style = "min-width:46px;min-height:26px" }).Visible("canManageNotifications");

                                                                }).Title("").Width(140);
                                                            })
                                                            .ToolBar(toolBar =>
                                                            {
                                                                toolBar.Template(@<text>

                                                                    @if (canManageNotifications)
                                                                        {
                                                                            <a class='k-button' style="float:left" href="#" onclick="onAddNewNotification(event)">
                                                                                <span class='k-icon k-i-add'></span>Add New Notification
                                                                            </a>
                                                                        }
                                                                </text>);
                                                            })
                                                    .Editable(editable => editable.Mode(GridEditMode.InLine).DisplayDeleteConfirmation(false))
                                                    .Pageable()
                                                    .Sortable()
                                                    .Scrollable(s => s.Height("auto"))
                                                    .DataSource(dataSource => dataSource
                                                        .Ajax()
                                                        .PageSize(20)
                                                        .Events(events => events
                                                            .Error("onError")
                                                            .RequestEnd("onDataSourceRequestEnd")
                                                        )
                                                        .Model(model =>
                                                        {
                                                            model.Id(vm => vm.Id);
                                                        })
                                                            .Read(read => read.Action("GetNotificationList", "VehicleComplianceManagement").Data("gridFilterParams"))
                                                            .Create(create => create.Action("CreateNotification", "VehicleComplianceManagement"))
                                                            .Update(update => update.Action("UpdateNotification", "VehicleComplianceManagement"))
                                                            .Destroy(delete => delete.Action("DeleteNotification", "VehicleComplianceManagement"))

                                    )
                                        .Events(events => events
                                                .Edit("onGridItemEdit")
                                    )

            )

        </div>
    </div>

    <div id="wndDeleteConfirmation"></div>
</div>
<style>
    .k-grid .field-validation-error {
        display: none;
    }

    span#dtEntryDate_validationMessage {
        z-index: 2;
        position: absolute;
        margin-top: 30px;
        margin-left: -130px;
    }
</style>
@section scripts{
    <script type="text/x-kendo-template" id="templateDeleteConfirmation">
        <div class="modalWindow">
            <h2>Are you sure you want to delete this record?</h2>
            <button id="yes" class="k-button">Yes</button>
            <button id="no" class="k-button k-primary">No</button>
        </div>
    </script>


    <script type="text/javascript">


        var gridData;



        $(document).ready(function () {
            //tooltips
            $("#gridNotification").kendoTooltip({ filter: "a[title]" });

            //initialize the kendo delete confirmation modal window
            templateDeleteConfirmation = kendo.template($("#templateDeleteConfirmation").html());

            windowDeleteConfirmation = $("#wndDeleteConfirmation").kendoWindow({
                title: "Delete Confirmation",
                modal: true,
                visible: false,
                resizable: false,
                width: 300
            }).data("kendoWindow");

            gridData = $("#gridNotification").data("kendoGrid");


        });



        function onSearchClick(e) {
            gridData.dataSource.read();
        }

        function onResetClick(e) {

            e.preventDefault();

            $("#drpNotificationType").data("kendoDropDownList").value("");
            $("#drpEmailTemplate").data("kendoDropDownList").value("");
            $("#drpWhenAppear").data("kendoDropDownList").value("");
            $("#drpSeverity").data("kendoDropDownList").value("");

            gridData.dataSource.read();

        }



        function gridFilterParams() {

            return {
                notificationTypeId: (Number($("#drpNotificationType").val()) == 0) ? -1 : Number($("#drpNotificationType").val()),
                whenAppearId: (Number($("#drpWhenAppear").val()) == 0) ? -1 : Number($("#drpWhenAppear").val()),
                serverity: (Number($("#drpSeverity").val()) == 0) ? -1 : Number($("#drpSeverity").val()),
                emailTemplate: (Number($("#drpEmailTemplate").val()) == 0) ? -1 : Number($("#drpEmailTemplate").val())
            }
        }

        function onDataSourceRequestEnd(e) {

            if ((e.type == "create" || e.type == "update" || e.type == "destroy") && !e.response.Errors) {

                App.notification.show({
                    message: "Changes saved successfully."
                }, "success");

                e.sender.read(); //refresh the datasource
            }
        }

        function onError(e) {
            if (e.errors) {
                var message = "Errors:\n";
                $.each(e.errors, function (key, value) {
                    if ('errors' in value) {
                        $.each(value.errors, function () {
                            message += this + "\n";
                        });
                    }
                });
                App.notification.show({
                    message: message
                }, "error");
            }
        }

        function onDeleteDetailsClick(e) {

            e.preventDefault();

            var grid = this;

            var row = $(e.currentTarget).closest("tr");
            var dataItem = this.dataItem(row);

            windowDeleteConfirmation.content(templateDeleteConfirmation(dataItem));

            windowDeleteConfirmation.center().open();

            $("#yes").click(function () {
                grid.removeRow(row); //removes row only
                windowDeleteConfirmation.close();
            });

            $("#no").click(function () {
                windowDeleteConfirmation.close();
            });
        }

        function onGridItemEdit(e) {

            if (e.model.isNew()) {

            }


            if (!e.model.isNew()) {

            }

        }

        function onAddNewNotification(e) {
            gridData.addRow();
        }

        function canManageNotifications()
        {
            var r = '@canManageNotifications';

            if (r === "True") {
                return true;
            }
            else {
                return false;
            }
        }
    </script>
    }